name: Token Relay

on:
  workflow_dispatch:

jobs:
  relay:
    runs-on: ubuntu-latest
    steps:
      - name: Output token
        run: echo "token=${{ secrets.GH_OAUTH_WRITER }}" >> $GITHUB_OUTPUT
